/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');


/* common styles */
body {
    font-family: 'Work Sans', sans-serif;
    /* margin: 0;
    padding: 0; */

}

/* header styles */

.header-container {
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
    padding-top: 30px;
    height: 1500px;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    margin-left: 230px;
    padding-top: 0px;
}

.nav-name {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-left: 1080px;
}

.nav-name p {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* banner styles */
.banner-title {
    font-size: 64px;
    text-align: center;

}

.banner-discription {
    text-align: center;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
    margin-top: -30px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 8px;
    background: #FD6E0A;
    margin: 0px 870px 32px 870px;
}

.banner-img {
    margin: 40px 240px 45px 240px;
    border-radius: 8px;
    width: 1440px;
    height: 700px;
}

/* main section styles */
/* team styles */
.team-container {
    margin-top: 85px;
    margin-left: 300px;
}

.team-pic {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    row-gap: 22px;
    column-gap: -40px;
    align-items: center;

}

.team-container {
    display: flex;
}

.headline {
    font-size: 45px;
    margin-top: 287px;
    margin-left: 76px;
    margin-right: 367px;
    margin-bottom: 24px;
}

.hd-color-1 {
    color: #727272;
}

.hd-color-2 {
    color: #FF900E;
}

.discription {
    font-size: 16px;
    color: #727272;
    margin-left: 76px;

}

.btn-team {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 8px;
    background: #FD6E0A;
    margin-left: 76px;
}

/* experience styles  */
.exprience-container {
    display: flex;
    gap: 58px;
}

.experiance {
    margin: 130px 240px;
}

.exp-heading {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.vl {
    border-left: 5px solid #FF900E;
    height: 106px;
}

.exp-sub-head {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.blogs-container {
    background-color: #FFFFFF;
    height: 171px;
    width: 586px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);

}

.blog-title {
    font-size: 20px;
    font-weight: 600;
}

.blogs-description {
    font-size: 16px;
    color: #727272;
}

.arc-img {
    padding-left: 150px;
    width: 708px;
    height: 900px;
}
.exp-btn{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    width: 342px;
    height: 250px;
    border-radius: 8px;
    background: #FD6E0A;
    margin-left: 58px;
}
.exp-btn > h1{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
.exp-btn{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: -120px;
}
/* facts styles */
.fact-box-container{
    display: flex;
    row-gap: 124px;
    justify-content: center;
}
.facts-container h1{
    font-size: 45px;
    font-weight: 700;
    margin-left: 240px;
}
.facts-container p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-left: 240px;
}
.fact-box{
    width: 242px;
    height: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 43px; 
    margin-left: 124px;
    margin-top: 146px;
}
.fact-box:hover{
    background-color: rgb(224, 234, 234);
}
.box-title{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.box-description{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
 /* footer styles  */

 /* sponsor styles  */
.spo-icon{
    display: flex;
    justify-content: center;
    gap: 155px;
    margin-top: 50px;

} 
 .spo-title{
    text-align: center;
    margin-top: 180px;
    font-size: 45px;
    font-weight: 700;
 }
 .spo-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    text-align: center;
    
 }
 .spo-icon-1 img{
    opacity: 0.50;
 }
 .spo-icon-2 img{
    opacity: 0.50;
 }
 .spo-icon-3 img{
    opacity: 0.50;
 }
 .spo-icon-4 img{
    opacity: 0.50;
 }
 .spo-icon-5 img{
    opacity: 0.50;
 }
 /* future scope style */

 .scope-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
 .scope-text:hover{
    background-color: aquamarine;
 }
.scope-text{
    margin-top: 50px;
    background-color: #FFFFFF;
    text-align: center;
    width: 586px;
    height: 250px;
    box-shadow:0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.scope-heading{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.scope-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
/* footer styls  */
.footer-bg{
    background-color:  #FFF4E7;
    margin:145px 240px 216px 240px;
    width: 1440px;
    height: 100px;
}
.footer-text{
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    text-align: center;
    padding-top: 40px;
}
/* Media Quire styles */
/* For small device  */
@media only screen and (max-width: 688px){
.header-container{
    width: 100%;
    text-align: center;

}
 .nav-title, .banner-title, .btn-primary {
    margin-left: 50px;
    text-align: center;
    width: 80%;

 }
 .nav-name, .team-container,.fact-box-container, .exprience-container, .spo-icon{

    flex-direction: column;
    margin-left: 100px;
    width: 70%;
 }
 .banner-img{
    width: 100%;
    margin-left: 50px;
 }
 .team-pic{
    grid-template-columns: repeat(1, 1fr);
 }
 
 .exp-sub-head{
    padding-top: 20px;
    width: 70%;
 }
 .arc img{
    height: 400px;
    width: 400px;

 }
 .exp-btn{
   padding-bottom: 100px;
 }
 .blogs-container{
    height: 200px;
    width: 200px;
 }
 .scope-container{
    grid-template-columns: repeat(1, 1fr);
 }
 .scope-text{
    height: 450px;
    width: 250px;
    margin-left: 70px;
 }
 .footer-bg{
    width: 400px;
    height: 400;
    /* margin-right: 120px; */
 }
 }
 
    

